{% extends 'base.html'%}


{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1">DJANGO APP</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam illo sint sequi tenetur magnam quis officiis dolore culpa accusamus veritatis, maxime, quibusdam voluptate vero recusandae similique optio commodi nisi delectus?</p>
    </section>
    <div class="text-center">
        <a class="btn btn-dark" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
    </div>
</main>
{% endblock %}